name: GitHub Actions Secret Example

on:
  push:
    Branches: [main]
jobs:
  secrets-in-github-actions:
    runs-on: ubuntu-latest
    
    
    # The Secrect Actions GitHub example has three steps 
    steps :
      # Show how to print unmasked GitHub secrets to the console 
      - name: Step 1 - Echo out a GitHub Actions Secret to the logs
  - run: |
      echo "The GitHub Actions Secret will be masked: "
      echo ${{ !env.SECRET_TOKEN }}
      echo "Trick to echo GitHub Actions Secret: "
      echo ${{ !env.SECRET_TOKEN }} | sed 's/./& /g'
